body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.content {
  text-align: center;
}

h1 {
  color: #ffffff;
}

p {
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  background-color: transparent;
  color: white;
  border: 0.5px solid white;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: none;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}

my-gif {
  width: 200px;
  height: 200px;  
}
