body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.content {
  text-align: center;
}

h1 {
  color: #ffffff;
}

p {
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  background-color: transparent;
  color: #ffffff;
  border: 0.5px solid rgba(255, 255, 255, 1);
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: none;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

#datetime-box {
  position: fixed;
  top: 20px;
  left: 20px; 
  color: white;
  font-family: 'Roboto Mono', monospace;
  z-index: 999;
  text-align: left;
}

#date {
  font-size: 30px;
  opacity: 1;
}

#clock {
  font-size: 46px;
  font-weight: 300;
  opacity: 1;
  margin-top: 2px;
}

my-gif {
  width: 200px;
  height: 200px;  
}
